#grid {
    margin: 24px auto;
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: inline-block;
    margin-top: -1px;
    margin-left: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #2B2D42;
}