#grid {
    margin: 24px auto;
    width: 700px;
    text-align: center;
}

.cell {
    display: inline-block;
    margin-top: -1px;
    margin-left: -1px;
    width: 70px;
    height: 70px;
    border: 1px solid #2B2D42;
    float: left;
}

.navigation {
    text-align: center;
}

#randomize {
    display: inline-block;
}