#title {
    cursor: pointer;
}
#title:hover {
    color: #d4d9db;
}

textarea {
    margin: 1em 0;
    resize: none;
}

.grid-label {
    margin: 0;
    font-weight: 400;
    text-align: center;
}

#grid {
    margin: 10px auto 24px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: inline-block;
    margin-top: -1px;
    margin-left: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #2B2D42;
}

.navigation {
    display: flex;
    justify-content: space-between;
}